* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
.god-container {
  background-color: #f6f8fa;
}
.container {
  box-sizing: border-box;
  background-color: #f2f2f2;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 50px;

  padding: 0 15px 0 0;
}

.content {
  flex: 2 1 auto;
  padding: 0 2%;
}
.header {
  display: flex;
  margin-top: 20px;
  padding: 1% 2%;
  justify-content: space-between;
}

.data {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.title {
  width: 50%;
  text-align: left;
  padding: 10px 0;
}
.title h1 {
  font-size: 2.5em;
  color: black;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.select {
  width: 50%;
  text-align: left;
}
.select h2 {
  margin: 0;
  padding: 0;
  margin-right: 10px;
}
.dash-bar {
  width: 100%;
  position: sticky;
  text-align: left;
  background-color: #0d0000;
}
.logo {
  width: 15%;
  display: inline-block;
  padding: 1% 2%;
}

.container-sidebar h1 {
  font-size: 1.5em;
  font-weight: bold;
  color: #b3b4b5;
  padding: 15px 15px 5px;
}
.container-sidebar h2 {
  font-size: 1em;
  color: #b3b4b5;
  padding: 15px;
  font-weight: 700;
}
.img-logo {
  width: 10%;
  display: inline-block;
  margin-right: 10px;
}
.select-page {
  transform: scale(1.1);
  background-color: black;
  color: white;
  transition: all 0.5s;
}
#link {
  text-decoration: none;
  padding: 5px 15px;
  display: block;
  width: 100%;
}

.container-sidebar {
  margin: 0;
  position: sticky;
  background-color: white;
  flex-basis: 16%;
}

#link:hover {
  text-decoration: none;
  color: white;
  text-decoration-style: none;
  -moz-text-decoration-line: none;
  cursor: pointer;
}
.card {
  box-sizing: border-box;
  transition: all 1s;
  margin: 8%;
}

.stats {
  width: 100%;
  font-size: 2em;
  text-align: left;
  margin: 0;
  padding-bottom: 0;
  color: #0e0f3b;
  animation-name: fade;
  animation-duration: 10s;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10%;
}
.card-body {
  border-radius: 10px;
  border: 1px inset #0e0f3b;
  padding: 1% 2%;
  margin-bottom: 5%;
}
.card-main h1 {
  color: #323c73;

  width: 100%;
  text-align: center;
  font-size: 3em;
}
.card-main h2 {
  margin-left: 10px;
  font-weight: bold;
  color: #323c73;
}

.table-head {
  display: flex;
  justify-content: space-between;
  padding: 1% 2%;
}
.table-head h2 {
  margin: 0;
  padding: 0;
}
.filter {
  position: relative;
}
.filter span {
  margin: 5px;
}
#filter {
  position: relative;
  font-weight: 700;
  background-color: black;
  width: 100%;
  color: #f2f2f2;
  border-radius: 15px;
  padding: 10px;
}
.close {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 2px;
  right: 2px;
}

.dropdown:hover {
  cursor: pointer;
}

.checkbox {
  position: absolute;
  bottom: -1000%;
  right: 0;
  background-color: white;
  z-index: 1;
}
.check {
  display: flex;
  text-align: left;
  border-top: 0;
  box-shadow: 0.5px 0.5px rgb(236, 230, 230);
  padding: 10px;
  width: 18vh;
  position: relative;
}
.check input {
  margin: 0;
  position: absolute;
  right: 5px;
  visibility: hidden;
  display: none;
}
.check label {
  padding: 0;
  width: 100%;
}
span:first-child {
  font-size: 0.8em;
  color: rgb(148, 148, 148);
}

.check:hover {
  background-color: #81bf94;
}
.tabel-content {
  background-color: white;
  padding: 2%;
  border-radius: 3%;
}
.table-container {
  text-align: center;
}
.table {
  margin: 2% auto;
  display: flex;
  flex-direction: column;
  padding: 0 5%;

  padding: 2% 4%;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 10px;
}
.row,
.row-head {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.row h2,
.row-head h2 {
  font-size: 0.8em;
  width: 12.5%;
}
.sort {
  cursor: pointer;
}

.check-mark {
  width: 15px;
  margin: 0;
  position: absolute;
  right: 5px;
}

.active {
  width: 8px !important;
  height: 8px !important;
  border-radius: 8px;
  margin-left: 5px;
}
.row:first-child {
  font-weight: bold;
}

.table::-webkit-scrollbar-track {
  border: none;
  border-radius: 10px;
}
.table::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}
.table::-webkit-scrollbar {
  width: 10px;
}
.row h2 {
  border-right: 0.005px solid #0e0f3b;
}
.row h2:last-child {
  border-right: none;
}
@keyframes fade {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
#spinner {
  transform: rotateX(-30deg);
}
.loader {
  width: 70%;
  margin: 40vh auto;
  text-align: center;
  background-color: white;
}
.basic-card {
  background-color: white;
  box-shadow: 0.5px 0.5px #f2f2f2;
  padding: 2%;
  border-radius: 5%;
  width: 30%;
}
.charts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10%;
}
.discription {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}
.discription h1 {
  text-align: left;
}
.activity:hover,
.signed:hover {
  transform: scale(1.08);
  box-shadow: 1px 1px #f2f2f2;
}
.basic-card:hover {
  transform: scale(1.1);
  background-color: #514df7;
  color: white !important;
  transform: all 0.5s;
}
.basic-card:hover h2 {
  color: white !important;
  transform: all 0.5s;
}
.basic-card:hover h1 {
  color: white !important;
  transform: all 0.5s;
}
.Dropdown-control {
  border: none !important;
}
.row:hover {
  background-color: #b3b4b5;
}
