* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
.loader {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 20vh auto;
}
.container {
  box-sizing: border-box;
  background-color: #f2f2f2;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 15px 0 0;
}

.content {
  flex: 2 1 auto;
  padding: 1% 2%;
}
.title {
  display: flex;
  padding: 4% 2%;
  border-bottom: 0.5px solid grey;
}

.title h1 {
  font-size: 2.5em;
  width: 100%;
  color: black;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.select {
  flex-basis: 50%;
}

.dash-bar {
  width: 100%;
  position: sticky;
  text-align: left;
  background-color: #0d0000;
}
.logo {
  width: 15%;
  display: inline-block;
  padding: 1% 2%;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  padding: 15px 15px 5px;
}
h2 {
  font-size: 1em;
}
#link {
  text-decoration: none;
  padding: 5px 15px;
  display: block;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  width: 100%;
}

.container-sidebar {
  margin: 0;
  position: sticky;
  background-color: #bf9a78;
  flex-basis: 15%;
}
#link {
  background-color: #2b2b38;
  width: 100%;
}

#link:hover {
  text-decoration: none;
  color: white;
  text-decoration-style: none;
  -moz-text-decoration-line: none;
  cursor: pointer;
}
.card {
  box-sizing: border-box;
  transition: all 1s;
}

.stats {
  font-size: 2em;
  color: #0e0f3b;
  animation-name: fade;
  animation-duration: 10s;
}

.card-main {
  color: white;
  padding: 1%;
  margin: 10px auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 4%;
}
.card-body {
  border-radius: 10px;
  border: 1px inset #0e0f3b;
  padding: 1% 2%;
}
.card-main h1 {
  color: #323c73;

  width: 100%;
  text-align: center;
  font-size: 3em;
}
.card-main h2 {
  margin-left: 10px;
  font-weight: bold;
  color: #323c73;
}

.table-head {
  display: flex;
  justify-content: space-between;
}
.filter {
  position: relative;
}
.filter span {
  margin: 5px;
}
#filter {
  position: relative;
  font-weight: 700;
  background-color: #0e0f3b;
  width: 100%;
  color: #f2f2f2;
  border-radius: 15px;
  padding: 10px;
}
.close {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 2px;
  right: 2px;
}

.dropdown:hover {
  cursor: pointer;
}

.checkbox {
  position: absolute;
  bottom: -380%;
  right: 0;
  background-color: white;
  z-index: 1;
}
.check {
  display: flex;
  text-align: left;
  border-top: 0;
  box-shadow: 0.5px 0.5px rgb(236, 230, 230);
  padding: 10px;
  width: 18vh;
  position: relative;
}
.check input {
  margin: 0;
  position: absolute;
  right: 5px;
  visibility: hidden;
  display: none;
}
.check label {
  padding: 0;
  width: 100%;
}
span:first-child {
  font-size: 0.8em;
  color: rgb(148, 148, 148);
}

.check:hover {
  background-color: #81bf94;
}

.table-container {
  text-align: center;
}
.table {
  margin: 2% auto;
  display: flex;
  flex-direction: column;
  padding: 0 5%;

  padding: 2% 4%;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 10px;
  border: 1px inset #0e0f3b;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  border-bottom: 0.005px solid #0e0f3b;
}
.row h2 {
  font-size: 0.8em;
  width: 12.5%;
}

.check-mark {
  width: 15px;
  margin: 0;
  position: absolute;
  right: 5px;
}

.active {
  width: 8px !important;
  height: 8px !important;
  border-radius: 8px;
  margin-left: 5px;
}
.row:first-child {
  font-weight: bold;
}

.table::-webkit-scrollbar-track {
  border: none;
  border-radius: 10px;
}
.table::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}
.table::-webkit-scrollbar {
  width: 10px;
}
.row h2 {
  border-right: 0.005px solid #0e0f3b;
}
.row h2:last-child {
  border-right: none;
}
@keyframes fade {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
